---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import Search from '../components/Search.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../config';
---

<!DOCTYPE html>
<html lang="en-us">
<head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION}/>
        <script src="https://unpkg.com/lunr/lunr.js" is:inline></script>
        <script defer src="https://unpkg.com/alpinejs@3.x.x/dist/cdn.min.js" is:inline></script>
        </head>
<body>
<Header title={SITE_TITLE}/>
    <main>
        <div class="flex flex-col space-y-3">
                <h1>🧑‍🚀 Hello, Astronaut!</h1>
                <p>
                    Welcome to the official <a href="https://astro.build/">Astro</a> blog starter template. I have
                    modded it
                    to use <a href="https://tailwindcss.com/">tailwind css</a>, but more importantly, it now has a
                    search
                    function!
                </p>
                <Search/>
        </div>
    </main>
    <Footer/>
</body>
</html>
